<!DOCTYPE HTML>
<html>
<head>
    <title>Deleting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="get" action="delete">
        <label>
            <input type="text" name="id" placeholder="Input id of book">
        </label>
        <button type="submit">Save book</button>
    </form>
</div>
    <a href="/main">Main page</a>
</body>
</html>