<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestApplic</title>
</head>
<body>
<h3>Books</h3>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>Enter valid data for book</div>
<div>
    <form method="post" action="editBook">
        <label>
            <input type="text" name="id" placeholder="Input id of book">
        </label>
        <label>
            <input type="text" name="name" placeholder="Input name of book">
        </label>
        <label>
            <input type="text" name="authors" placeholder="Input authors">
        </label>
        <label>
            <input type="text" name="year" placeholder="Input year of publish">
        </label>
        <label>
            <input type="text" name="genre" placeholder="Input genre of book">
        </label>
        <label>
            <input type="text" name="listOfComments" placeholder="Input comments">
        </label>
        <button type="submit">Save change</button>
    </form>
</div>
</div>
    <a href="/main">Main page</a>
</body>
</body>
</html>